body{
    font-style: italic;
    background-color:rgb(206, 205, 204) ;
    color: rgb(2, 2, 51);
}

.solar_system{
    width: 100%;
    height: 80vh;
    margin: auto;
    display: block;
}
.title{
    font-size: 5vw;
    position: absolute;
    color: rgb(252, 102, 3);
    top: 60%;
    left: 35%;
    text-shadow: 2px 2px 5px rgb(252, 61, 3);
}
.introduction{
    font-size: 2vw;
    padding: 2%;
    text-align: center;
}
.planets{
    width: 80%;
    height: 70vh;
    display: block;
    margin: auto;
}
nav{
    position: sticky;
    width: 100%;
    height: 10vh;
    background-color: rgb(145, 143, 142);
    text-align: center;
    top:0%;
}
a{
    font-size: 2.6vw;
    margin-right: 2.8%;
    color:rgb(2, 2, 51);
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
h2{
    font-size: 3.5vw;
    margin-top: 5%;
}
.planet1{
    text-shadow: 2px 2px 5px rgb(70, 70, 129);
}
#mercury{
    text-shadow: 2px 2px 5px rgb(70, 70, 129);
    text-align: center;
}
.planet2{
    text-shadow: 2px 2px 5px rgb(160, 110, 19);
}
#venus{
    text-shadow: 2px 2px 5px rgb(160, 110, 19);
    text-align: center;
}
.planet3{
    text-shadow: 2px 2px 5px rgb(30, 100, 30);
}
#earth{
    text-shadow: 2px 2px 5px rgb(30, 100, 30);
    text-align: center;
}
.planet4{
    text-shadow: 2px 2px 5px rgb(194, 35, 35);
}
#mars{
    text-shadow: 2px 2px 5px rgb(194, 35, 35);
    text-align: center;
}
.planet5{
    text-shadow: 2px 2px 5px rgb(102, 49, 19);
}
#jupiter{
    text-shadow: 2px 2px 5px rgb(102, 49, 19);
    text-align: center;
}
.planet6{
    text-shadow: 2px 2px 5px rgb(97, 72, 40);
}
#saturn{
    text-shadow: 2px 2px 5px rgb(97, 72, 40);
    text-align: center;
}
.planet7{
    text-shadow: 2px 2px 5px rgb(108, 136, 212);
}
#uranus{
    text-shadow: 2px 2px 5px rgb(108, 136, 212);
    text-align: center;
}
.planet8{
    text-shadow: 2px 2px 5px rgb(66, 96, 179);
}
#neptune{
    text-shadow: 2px 2px 5px rgb(66, 96, 179);
    text-align: center;
}
.images{
    display: block;
    margin: auto;
    width: 60%;
    height: 60vh;
}
.info{
    font-size: 2vw;
    padding: 1%;
    text-align: center;
}
article:target{
    scroll-margin-top: 65px;
}